In [21]:
import pandas as pd

In [7]:
tsv_file='OLIDv1.0/olid-training-v1.0.tsv'
 
# reading given tsv file
csv_table=pd.read_table(tsv_file, sep='\t')
 
# converting tsv file into csv
csv_table.to_csv('train_all_levels.csv', index=False)

In [8]:
df = pd.read_csv('train_all_levels.csv')
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

# Sub-task A

In [13]:
df_a = df.copy()
df_a = df_a.drop(['subtask_b', 'subtask_c'], axis=1)
df_a

          id                                              tweet subtask_a
0      86426  @USER She should ask a few native Americans wh...       OFF
1      90194  @USER @USER Go home you’re drunk!!! @USER #MAG...       OFF
2      16820  Amazon is investigating Chinese employees who ...       NOT
3      62688  @USER Someone should'veTaken" this piece of sh...       OFF
4      43605  @USER @USER Obama wanted liberals &amp; illega...       NOT
...      ...                                                ...       ...
13235  95338  @USER Sometimes I get strong vibes from people...       OFF
13236  67210  Benidorm ✅  Creamfields ✅  Maga ✅   Not too sh...       NOT
13237  82921  @USER And why report this garbage.  We don't g...       OFF
13238  27429                                        @USER Pussy       OFF
13239  46552  #Spanishrevenge vs. #justice #HumanRights and ...       NOT

[13240 rows x 3 columns]

In [14]:
df_a.to_csv('train_level_a.csv', index=False)

In [26]:
df_a_small = df_a.head(3000)
df_a_small.to_csv('train_level_a_small.csv', index=False)

# Sub-task B

In [17]:
df_b = df.copy()
df_b = df_b[df_b['subtask_a'] == 'OFF']
df_b = df_b.drop(['subtask_a', 'subtask_c'], axis=1)
df_b

          id                                              tweet subtask_b
0      86426  @USER She should ask a few native Americans wh...       UNT
1      90194  @USER @USER Go home you’re drunk!!! @USER #MAG...       TIN
3      62688  @USER Someone should'veTaken" this piece of sh...       UNT
5      97670                  @USER Liberals are all Kookoo !!!       TIN
6      77444                   @USER @USER Oh noes! Tough shit.       UNT
...      ...                                                ...       ...
13223  63482  @USER is advocating for conduct within bounds ...       TIN
13227  87416  @USER @USER @USER @USER Liars like the Antifa ...       TIN
13235  95338  @USER Sometimes I get strong vibes from people...       TIN
13237  82921  @USER And why report this garbage.  We don't g...       TIN
13238  27429                                        @USER Pussy       UNT

[4400 rows x 3 columns]

In [18]:
df_b.to_csv('train_level_b.csv', index=False)

In [27]:
df_b_small = df_b.head(3000)
df_b_small.to_csv('train_level_b_small.csv', index=False)

# Sub-task C

In [19]:
df_c = df.copy()
df_c = df_c[df_c['subtask_b'] == 'TIN']
df_c = df_c.drop(['subtask_a', 'subtask_b'], axis=1)
df_c

          id                                              tweet subtask_c
1      90194  @USER @USER Go home you’re drunk!!! @USER #MAG...       IND
5      97670                  @USER Liberals are all Kookoo !!!       OTH
7      52415  @USER was literally just talking about this lo...       GRP
9      13384  @USER Canada doesn’t need another CUCK! We alr...       IND
12     28414  @USER you are a lying corrupt traitor!!! Nobod...       IND
...      ...                                                ...       ...
13212  93164  @USER @USER Everything else was ten years ago....       IND
13223  63482  @USER is advocating for conduct within bounds ...       GRP
13227  87416  @USER @USER @USER @USER Liars like the Antifa ...       GRP
13235  95338  @USER Sometimes I get strong vibes from people...       IND
13237  82921  @USER And why report this garbage.  We don't g...       OTH

[3876 rows x 3 columns]

In [20]:
df_c.to_csv('train_level_c.csv', index=False)

In [28]:
df_c_small = df_c.head(3000)
df_c_small.to_csv('train_level_c_small.csv', index=False)